<div class="row mt-3">   
    <div class="col text-center">
        <h1>Modifica <%=@bar.name%></h1>
    </div>
</div>
<hr/>

<%= render 'form', bar: @bar %>

<%= link_to 'Show', @bar %> |
<%= link_to 'Back', bars_path %>
