<div class="row mt-3">   
    <div class="col-1">
        <h1 class="display-5"><a href="<%=barmen_personalArea_path%>"><i class="fa-solid fa-arrow-left-long"></i></a></h1>
    </div>
    <div class="col-11 text-center">
        <h1>Modifica <%=@bar.name%></h1>
    </div>
</div>
<hr/>

<%= render 'form', bar: @bar %>


