<div class="row mt-4">
  <div class="col-1">
    <a href="<%=bars_path%>"><h1><i class="fa-solid fa-arrow-left-long"></i></h1></a>
  </div>
  <div class="col-11">
    <h1 class="text-center mt-2">Aggiungi un nuovo Bar alla lista !</h1>
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p class="text-center">
      Registra nel nostro sistema il tuo Locale. Dacci la tua fiducia e noi ti forniremo la visibilità!
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <div>
      <%= image_tag "bar/bottles.jpg", :class => "img-fluid"%>
    </div>
  </div>
</div>
</div>
<%= render 'form', bar: @bar %>

