<div class="row">
  <div class="col">
    <h1 class="text-center mt-2">Aggiungi un nuovo Bar alla lista !</h1>
    <hr/>
  </div>
</div>
<%= render 'form', bar: @bar %>
<div class="row">
  <div class="col">
    <%= link_to 'Torna indietro', bars_path, :class => "btn btn-lg btn-danger"%>
  </div>
</div>
