<div class="row">
  <div class="col">
    <h1 class="text-center mt-2">Aggiungi un nuovo Bar alla lista !</h1>
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="text-center">
      Registra nel nostro sistema il tuo Locale. Dacci la tua fiducia e noi ti forniremo la visibilità!
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <div>
      <%= image_tag "bar/bottles.jpg", :class => "img-fluid"%>
    </div>
  </div>
</div>
</div>
<%= render 'form', bar: @bar %>
<div class="row">
  <div class="col">
    <%= link_to 'Torna indietro', bars_path, :class => "btn btn-lg btn-danger"%>
  </div>
</div>
