<div class="bg-dark text-light text-center mt-4">
	<section class="container-fluid p-4" id="contatti">

		<div class="mb-4 pt-0">
			<h1>Contatti Sviluppatore</h1>
			<hr>
		</div>

		<div class="container pb-0">
			<div class="row">
				<div class="col-md-3 col-6">
					<h5 class="text-uppercase mb-2">Orari</h5>
					<ul class="list-unstyled">
						<li class="mb-1">
							<strong>Luned&igrave; - Sabato</strong><br>24h garage<br>07-22 servizi
						</li>
						<li>
							<strong>Domenica</strong><br>24h garage<br>09-13 servizi
						</li>
					</ul>
				</div>
				<!--------------->

				<div class="col-md-3 col-6">
					<h5 class="text-uppercase mb-2">Recapiti</h5>

					<ul class="list-unstyled">
						<li class="mb-1">
							<strong>Telefono</strong><br><a href="tel:+391234567890">123 456 7890</a>
						</li>
						<li>
							<strong>Email</strong><br><a href="mailto:info@easygarage.ltw">info@cocktailfantasy.lassi</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 col-12">
					<h5 class="text-uppercase mb-2">Dove siamo</h5>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.4928586806536!2d12.512249715925709!3d41.903762579220135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258f5b0fe7d911%3A0xed5342b156dcfd2b!2sSapienza%20Universit%C3%A0%20di%20Roma!5e0!3m2!1sit!2sit!4v1650966213900!5m2!1sit!2sit" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

				</div>


			</div>
			<div class="row">
				<div class="col-12">
					<div class="mt-2">
						<h5 class="text-uppercase mb-2">Social</h5>
						<a class="btn btn-outline-light btn-social m-1" href="#!" role="button">
							<span class="fab fa-facebook-f"></span>
						</a>

						<!-- Twitter -->
						<a class="btn btn-outline-light btn-social m-1" href="#!" role="button">
							<span class="fab fa-twitter"></span>
						</a>

						<!-- Google -->
						<a class="btn btn-outline-light btn-social m-1" href="#!" role="button">
							<span class="fab fa-google"></span>
						</a>

						<!-- Instagram -->
						<a class="btn btn-outline-light btn-social m-1" href="#!" role="button">
							<span class="fab fa-instagram"></span>
						</a>

						<!-- Linkedin -->
						<a class="btn btn-outline-light btn-social m-1" href="#!" role="button">
							<span class="fab fa-linkedin-in"></span>
						</a>

						<!-- Github -->
						<a class="btn btn-outline-light btn-social m-1" href="#!" role="button">
							<span class="fab fa-github"></span>
						</a>
					</div>
				</div>
			</div>
		</div>

	</section>

	<div class="p-3" style="background-color: rgb(12, 12, 12);">&copy; <a class="text-white" href="">Cocktail Fantasy</a> 2022</div>
</div>