<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <i class="fa-solid fa-martini-glass"></i>
      <div class="d-none d-md-block">Cocktail Fantasy</div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="user-logo-menu">
      <div class="nav-item dropdown text-light ml-auto mr-3">
        <%if(barman_signed_in?)%>
          <!-- Utente BARMAN AUTENTICATO-->
          <i class="fa-solid fa-user-tie" style="font-size:25px; color:red" alt="Avatar" data-bs-toggle="dropdown"></i> <span class="text-white"></span>
          <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
            <div class="text-center"><%= current_barman.email%></div>
            <hr/>
            <a href="#" class="dropdown-item">Logout <i class="fa-solid fa-door-open" style="font-size:20px"></i></a>
            <a href="#" class="dropdown-item">Area Personale <i class="fa-solid fa-pencil" style="font-size:20px"></i></a>
          </div>
        <%elsif(drinker_signed_in?)%>
          <!-- Utente BARMAN AUTENTICATO--> 
          <i class="fa-solid fa-user" style="font-size:25px; color:red" alt="Avatar" data-bs-toggle="dropdown"></i>
          <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
            <div class="text-center"><%= current_drinker.email%></div>
            <hr>
            <a href="#" class="dropdown-item">Logout <i class="fa-solid fa-door-open" style="font-size:20px"></i></a>
            <a href="#" class="dropdown-item">Area Personale <i class="fa-solid fa-pencil" style="font-size:20px"></i></a>
          </div>
        <%else%>
          <!-- Utente NON autenticato-->
          <i class="fa-solid fa-user" style="font-size:25px" alt="Avatar" data-bs-toggle="dropdown"></i>
          <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
            <a href="#" class="dropdown-item">Login <i class="fa-solid fa-door-open" style="font-size:20px"></i></a>
            <hr>
            <a href="#" class="dropdown-item">Registrazione <i class="fa-solid fa-pencil" style="font-size:20px"></i></a>
          </div>
        <%end%>
      </div>
    </div>
    <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
      <div class="navbar-nav">
        <a class="nav-link" href="/#">Home</a>
        <a class="nav-link" href="/garage.php">Bar</a>
        <a class="nav-link" href="/garage.php">Area Personale</a>
      </div>
    </div>
  </div>
</nav>
<%= javascript_pack_tag 'bar/bar' %>
