<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <i class="fa-solid fa-martini-glass"></i>
      <div class="d-none d-md-block">Cocktail Fantasy</div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="user-logo-menu">
      <div class="nav-item dropdown text-light ml-auto mr-3">
        <%if(drinker_signed_in? || barman_signed_in?) %>
          <i class="fa-solid fa-user" alt="Avatar data-bs-toggle="dropdown" style="color:red; font-size:25px"></i>
        <%else%>
          <i class="fa-solid fa-user" style="font-size:25px" alt="Avatar" data-bs-toggle="dropdown"></i>
        <%end%>
        <!---->
        <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
          <a href="#" class="dropdown-item">Login <i class="fa-solid fa-door-open" style="font-size:20px"></i></a>
          <hr>
          <a href="#" class="dropdown-item">Registrazione <i class="fa-solid fa-pencil" style="font-size:20px"></i></a>
        </div>
        <!---->
        <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">';
          <a href="./login.php" class="dropdown-item">Login <img src="./icons/enter.svg" height="20" width="20" /></a>'
          <hr>
          <a href="./registrazione.php" class="dropdown-item">Registrazione <img src="./icons/pencil.svg" height="20" width="20" /></a>'
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
      <div class="navbar-nav">
        <a class="nav-link" href="/#">Home</a>
        <a class="nav-link" href="/garage.php">Bar</a>
        <a class="nav-link" href="/garage.php">Area Personale</a>
      </div>
    </div>
  </div>
</nav>
<%= javascript_pack_tag 'bar/bar' %>
